openapi: 3.1.0
info:
  title: RealEstate AVM Skip Trace API
  description: RealEstateAPI.com provides expressive property data APIs for prop-tech applications. Endpoints include property search, property detail, comparables, AVM (automated valuation), parcel boundary lookups, MLS data, skip tracing, and involuntary lien data. All endpoints accept JSON and require an x-api-key header.
  version: '1.0'
  contact:
    name: RealEstateAPI Support
    url: https://www.realestateapi.com/
servers:
- url: https://api.realestateapi.com
  description: RealEstateAPI production base URL
security:
- apiKeyAuth: []
tags:
- name: Skip Trace
  description: Owner contact tracing
paths:
  /v2/SkipTrace:
    post:
      tags:
      - Skip Trace
      summary: Skip trace an owner
      description: Look up phone, email, and contact data for a property owner.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
      responses:
        '200':
          description: Skip trace results
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: RealEstateAPI account API key.
