openapi: 3.1.0
info:
  title: RealEstate AVM Property Search API
  description: RealEstateAPI.com provides expressive property data APIs for prop-tech applications. Endpoints include property search, property detail, comparables, AVM (automated valuation), parcel boundary lookups, MLS data, skip tracing, and involuntary lien data. All endpoints accept JSON and require an x-api-key header.
  version: '1.0'
  contact:
    name: RealEstateAPI Support
    url: https://www.realestateapi.com/
servers:
- url: https://api.realestateapi.com
  description: RealEstateAPI production base URL
security:
- apiKeyAuth: []
tags:
- name: Property Search
  description: Search and filter properties
paths:
  /v2/PropertySearch:
    post:
      tags:
      - Property Search
      summary: Search properties
      description: Searchable interface for real estate data, enabling list building, search counts, and advanced filtering on properties. Supports location (address, city, state, zip, county, lat/long, radius, polygon), property characteristics (beds, baths, sqft, lot size, year built, property type), financial filters (assessed value, equity, mortgage, listing price, last sale price), and special-status searches (foreclosure, REO, pre-foreclosure, auction, tax delinquent, cash buyer, investor-owned).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                size:
                  type: integer
                  maximum: 250
                  default: 50
                resultIndex:
                  type: integer
                  default: 0
                count:
                  type: boolean
                ids_only:
                  type: boolean
                summary:
                  type: boolean
                obfuscate:
                  type: boolean
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                county:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                radius:
                  type: number
                polygon:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                bedrooms_min:
                  type: integer
                bedrooms_max:
                  type: integer
                bathrooms_min:
                  type: number
                bathrooms_max:
                  type: number
                building_size_min:
                  type: integer
                building_size_max:
                  type: integer
                lot_size_min:
                  type: integer
                lot_size_max:
                  type: integer
                year_built_min:
                  type: integer
                year_built_max:
                  type: integer
                property_type:
                  type: string
                  enum:
                  - SFR
                  - MFR
                  - LAND
                  - CONDO
                  - MOBILE
                  - OTHER
                pre_foreclosure:
                  type: boolean
                foreclosure:
                  type: boolean
                reo:
                  type: boolean
                auction:
                  type: boolean
                tax_delinquent:
                  type: boolean
                cash_buyer:
                  type: boolean
                investor_owned:
                  type: boolean
      responses:
        '200':
          description: Search results
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: RealEstateAPI account API key.
